<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <center>Championships</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Ion List-->
  <ion-list>
    <!-- Item (Outputs each team within the array)-->
    <ion-item *ngFor="let champion of championData">
      <ion-avatar slot="start">
        <img src="{{champion.img}}"/>
      </ion-avatar>
      <ion-label>
        <h2>{{champion.full_name}}</h2>
        <p>Championships: {{champion.championships}}</p>
      </ion-label>
    </ion-item>
  </ion-list> 
</ion-content>