
<!--ion-toolbar: Displays at the top of the page -->
  <ion-toolbar> 
    <!-- Div: Used to display profile picture and input box next to one another-->
    <div id="spacing">
      <!-- ion-avatar: Displays profile picture-->
      <ion-avatar>
        <img src="{{picture}}"/>
      </ion-avatar>
      <!--ion-input: User inputs their name -->
      <ion-input id="font" placeholder="Enter Name" (ionChange)="updateName()" [(ngModel)]="name"></ion-input>
    </div>
    <!-- ion-button: User captures image-->
    <ion-button id="adjust" expand="block" fill="clear" (click)="takePicture()"><ion-icon slot="end" name="camera"></ion-icon></ion-button>
  </ion-toolbar>

<!-- ion-content: Displays content of the page-->
<ion-content>
  <!-- ion-refresher: When the user pulls the list of data down, the page is refreshed with the new data -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- ion-card: Displays the selected favourite team -->
<ion-card>
  <ion-card-header>
    <ion-card-title><center><h1>Favourite Team</h1></center></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <img src="{{favTeam}}"/>
  </ion-card-content>
</ion-card>

<!-- ion-card: Displays the selected favourite player -->
<ion-card>
  <ion-card-header>
    <ion-card-title><center><h1>Favourite Player</h1></center></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <img src="{{favPlayer}}"/>
  </ion-card-content>
</ion-card>
</ion-content>
<ion-footer>
  <!-- Input with placeholder -->
 
</ion-footer>
