<ion-header>
  <ion-toolbar>
    <ion-title><center> All-Stars: 2021</center></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [(ngModel)] ="favPlayer">
      <ion-item *ngFor="let player of playerData">
        <ion-avatar slot="start">
          <img src="{{player.img}}"/>
        </ion-avatar>
        <ion-label>
          <h3>{{player.name}}</h3>
          <p>{{player.team}}</p>
        </ion-label>
        <ion-radio slot="end" [value]="player.img"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list> 
</ion-content>
<!-- Footer: Displays at the bottom of the page-->
<ion-footer>
  <!--Button: Used to save selected team to data storage -->
<ion-button expand="block" fill="outline" (click)="setFavouritePlayer()">Set Favourite Player</ion-button>
</ion-footer>
