<!--Provides tabs and navigation between each page-->
<ion-tabs>
  <!-- ion-tab: Provides tab menu at the bottom of each page -->
  <ion-tab-bar slot="bottom">
    <!-- ion-tab-button: Provides tab menu at the bottom of each page -->

    <!-- Home Page-->
    <ion-tab-button tab="home">
      <ion-icon name="basketball-outline"></ion-icon>
      <ion-label>Teams</ion-label>
      <ion-badge>30</ion-badge>
    </ion-tab-button>

    <!-- Players Page-->
    <ion-tab-button tab="players">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>All Stars</ion-label>
      <ion-badge>28</ion-badge>
    </ion-tab-button>

    <!-- Championships Page -->
    <ion-tab-button tab="championships">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>Trophies</ion-label>
      <ion-badge>17</ion-badge>
    </ion-tab-button>

    <!-- Account Page -->
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>